/* Mobile and Tablet */
@media screen and (max-width: 1024px) {
  .hide-on-mobile-tablet {
    display: none;
  }
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }
  .header__cart-list {
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 100%;
    padding: 0 calc((100% - 644px) / 2);
  }
  .header__cart-list::before {
    display: none;
  }
  .header__cart-item-remove {
    padding: 10px 15px;
    font-size: 1.5rem;
  }
  .container {
    margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
  }
  .header__sort-bar {
    display: flex;
  }
  .app__content {
    padding-top: 8px;
  }
  .mobile-category {
    display: flex;
  }
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
  :root {
    --header-height: 68px;
    --navbar-height: 0px;
  }
  .hide-on-tablet {
    display: none;
  }
  .header__cart {
    width: 80px;
    text-align: right;
  }
  .footer .footer__content .row .col.l-2-4.m-4.c-6:nth-child(3),
  .footer .footer__content .row .col.l-2-4.m-8.c-12 {
    margin-top: 20px;
  }
}

/* Mobile */
@media screen and (max-width: 739px) {
  :root {
    --header-height: 54px;
    --navbar-height: 0px;
  }
  .hide-on-mobile {
    display: none;
  }
  .header-with-search {
    justify-content: space-between;
  }
  .header__logo,
  .header__cart {
    width: unset;
  }
  .header__search {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: 48px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
    padding: 0 8px;
    animation: mobileSearchSideIn 0.2s ease-in-out;
    display: none;
  }
  .header__search-history {
    position: fixed;
    top: calc(var(--header-height) + var(--header-sort-bar-height));
    left: 0;
    width: 100%;
  }
  @keyframes mobileSearchSideIn {
    from {
      top: calc(var(--header-height) / 2);
      opacity: 0;
    }
    to {
      top: var(--header-height);
      opacity: 1;
    }
  }
  .pagination-item {
    margin: 0;
  }
  .pagination-item__link {
    --height: 28px;
    font-size: 1.6rem;
    min-width: 36px;
  }
  .app__content {
    margin: 0;
  }
  .home-product-item__rating {
    font-size: 1.18rem;
  }
  .home-product-item__price-current {
    font-size: 1.5rem;
  }
  .header__mobile-search {
    display: block;
  }
  .header__logo-img {
    width: 120px;
  }
  .footer__content {
    padding: 0 16px;
  }
  .footer .footer__content .row .col.l-2-4.m-4.c-6:nth-child(3),
  .footer .footer__content .row .col.l-2-4.m-4.c-6:nth-child(4),
  .footer .footer__content .row .col.l-2-4.m-8.c-12 {
    margin-top: 20px;
  }
  .footer__heading {
    text-align: center;
  }
  .footer-item__link,
  .footer__download {
    justify-content: center;
  }
  .footer__download-apps {
    flex: unset;
  }
}
